In [2]:
import pandas as pd

In [3]:
movies = pd.read_csv('http://bit.ly/imdbratings')

In [4]:
# Summary Statistics: Methods
df = movies
df.head()# df.tail()
df.max() # df.min()
df.describe() # Like summary() in R
df.info() # Like Str() function in R
df.head(3).transpose() # Transposes data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 979 entries, 0 to 978
Data columns (total 6 columns):
star_rating       979 non-null float64
title             979 non-null object
content_rating    976 non-null object
genre             979 non-null object
duration          979 non-null int64
actors_list       979 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 46.0+ KB

,0,1,2
star_rating,9.3,9.2,9.1
title,The Shawshank Redemption,The Godfather,The Godfather: Part II
content_rating,R,R,R
genre,Crime,Crime,Crime
duration,142,175,200
actors_list,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...","[u'Marlon Brando', u'Al Pacino', u'James Caan']","[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."

In [5]:
# Summary Statistics: Methods Advanced
df = movies
df.head()[['content_rating','star_rating']]# df.tail()

  content_rating  star_rating
0              R          9.3
1              R          9.2
2              R          9.1
3          PG-13          9.0
4              R          8.9

In [10]:
# Summary Statistics: Attributes
df = movies
len(df)
df.columns
len(df.columns)

6

In [6]:
# String Operatins with DataFrames
movies[movies.title.str.startswith('The')]
movies[movies.title.str.contains('Shawshank')]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."

In [7]:
# Counts the number of occurence for a Column or Series
movies.content_rating.value_counts()

R            460
PG-13        189
PG           123
NOT RATED     65
APPROVED      47
UNRATED       38
G             32
NC-17          7
PASSED         7
X              4
GP             3
TV-MA          1
Name: content_rating, dtype: int64

In [6]:
# Sort by index
movies.content_rating.value_counts().sort_index()

APPROVED      47
G             32
GP             3
NC-17          7
NOT RATED     65
PASSED         7
PG           123
PG-13        189
R            460
TV-MA          1
UNRATED       38
X              4
Name: content_rating, dtype: int64