Resource: https://www.shanelynn.ie/select-pandas-dataframe-rows-and-columns-using-iloc-loc-and-ix/#iloc-selection

In [1]:
import pandas as pd

In [3]:
movies = pd.read_csv('http://bit.ly/imdbratings')

In [6]:
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

***Using iloc with dataframe***

In [36]:
movies.iloc[0] # first row of data frame

star_rating                                                     9.3
title                                      The Shawshank Redemption
content_rating                                                    R
genre                                                         Crime
duration                                                        142
actors_list       [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
Name: 0, dtype: object

In [34]:
movies.iloc[:,1].head() # First column of df
movies.iloc[:,:-1].head() # All columns except the last

   star_rating                     title content_rating   genre  duration
0          9.3  The Shawshank Redemption              R   Crime       142
1          9.2             The Godfather              R   Crime       175
2          9.1    The Godfather: Part II              R   Crime       200
3          9.0           The Dark Knight          PG-13  Action       152
4          8.9              Pulp Fiction              R   Crime       154

In [38]:
movies.iloc[0:5,0:2] # First 5 rows, first 3 Columns

   star_rating                     title
0          9.3  The Shawshank Redemption
1          9.2             The Godfather
2          9.1    The Godfather: Part II
3          9.0           The Dark Knight
4          8.9              Pulp Fiction

In [47]:
movies.iloc[[0,3,6], [1,0,2,4]] # Rows:0,3,6 Columns:1,0,3,4

                            title  star_rating content_rating  duration
0        The Shawshank Redemption          9.3              R       142
3                 The Dark Knight          9.0          PG-13       152
6  The Good, the Bad and the Ugly          8.9      NOT RATED       161