In [2]:
import pandas as pd
import numpy as np

In [3]:
# Create a dataframe with NaN
df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
                   "toy": [np.nan, 'Batmobile', 'Bullwhip'],
                   "born": [pd.NaT, pd.Timestamp("1940-04-25"),
                            pd.NaT]})
df

        born      name        toy
0        NaT    Alfred        NaN
1 1940-04-25    Batman  Batmobile
2        NaT  Catwoman   Bullwhip

In [4]:
df.fillna('INSERT HERE')

                  born      name          toy
0          INSERT HERE    Alfred  INSERT HERE
1  1940-04-25 00:00:00    Batman    Batmobile
2          INSERT HERE  Catwoman     Bullwhip

In [7]:
df.fillna(method='ffill') # bfill

        born      name        toy
0        NaT    Alfred        NaN
1 1940-04-25    Batman  Batmobile
2 1940-04-25  Catwoman   Bullwhip