In [1]:
import pandas as pd

In [5]:
drinks = pd.read_csv('drinks.csv') # pd.read_csv('http://bit.ly/drinksbycountry')

In [6]:
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [8]:
# Filtering non-numeric columns
import numpy as np
drinks.select_dtypes(include=[np.number]).dtypes

beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
dtype: object

In [15]:
# Passing arguments as a string or list
drinks.describe(include='all')
drinks.describe(include=['object','float64'])
drinks.describe(include=['object'])

       country continent
count      193       193
unique     193         6
top      Chile    Africa
freq         1        53