In [4]:
import os
import sys
print(os.getlogin())
print(sys.executable)
print(sys.version)

kevin8523
//anaconda/bin/python
3.6.5 |Anaconda custom (64-bit)| (default, Apr 26 2018, 08:42:37)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]

## Steps:
- Install Packages
- Read in dataset
- Prep Data
- Create Function to Optimize Lineup
- Create the function
- Run Function to Optimize Lineup

In [8]:
# Install Packages
import pandas as pd
import numpy as np
from scipy.optimize import minimize

In [12]:
# Working Directory
dataset = '../dataset/fantasy_points.csv'

In [16]:
# Read in dataset
train = pd.read_csv(dataset)
train.head()

,Id,Position,First Name,Nickname,Last Name,FPPG,Played,Salary,Game,Team,Opponent,Injury Indicator,Injury Details
0,22644-9646,SF,Kevin,Kevin Durant,Durant,48.520689,29,10900,UTA@GS,GS,UTA,0,0
1,22644-9642,PG,Russell,Russell Westbrook,Westbrook,52.302943,34,11200,TOR@OKC,OKC,TOR,0,0
2,22644-9488,SF,LeBron,LeBron James,James,54.761765,34,11700,CLE@SAC,CLE,SAC,0,0
3,22644-12362,C,DeMarcus,DeMarcus Cousins,Cousins,51.972727,33,11500,BKN@NO,NO,BKN,0,0
4,22644-15755,PF,Anthony,Anthony Davis,Davis,48.300001,28,10800,BKN@NO,NO,BKN,0,0

In [ ]:
# Objective Function:
## Returns top expected total points
def objective(x):

In [ ]:
# Constraints: 
## Salary Cap, Positions/Rules

In [ ]:
# Function Arguments: 
## Player list, Salary Cap, Positions/Rules, Set Players, Remove Teams