In [ ]:
########################################################
# Index & Unstack works like a pivot table in Excel
########################################################

# Indexing: Moves a column to a dimension: index is for rows
# Unstack: Moves an index into a column: unstack is for columns

In [1]:
import pandas as pd
%matplotlib inline

In [2]:
import os
os.chdir('/Users/kevin8523/Desktop/Github/scripts/python/dataset')
os.getcwd()

'/Users/kevin8523/Desktop/Github/scripts/python/dataset'

In [5]:
movies = pd.read_csv('imdbratings.csv') # pd.read_csv('http://bit.ly/imdbratings')

In [6]:
m = movies
m.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [12]:
# Compare Multiple Groups
m = movies
m = m[(m.genre == 'Crime') | (m.genre == 'Action')] # Crime or Action
g = m.groupby(['genre', m.star_rating // 1]).size() # // ==> division that results into whole number adjusted to the left in the number line
g

genre   star_rating
Action  7.0            89
        8.0            46
        9.0             1
Crime   7.0            73
        8.0            48
        9.0             3
dtype: int64

In [30]:
# Pivot Data: Unstack indexes by Columns (up and down) (rows into columns)
# When you need to compare the above groupby, you would unstack to get 
# them side by side to compare
u = g.unstack(0) #g.unstack(1) || # g.unstack('genre') = g.unstack(0)
u

genre        Action  Crime
star_rating
7.0              89     73
8.0              46     48
9.0               1      3

In [24]:
u['Action'] - u['Crime']

star_rating
7.0    16
8.0    -2
9.0    -2
dtype: int64

In [29]:
# Stack changes columns into rows
u.stack(0)

star_rating  genre
7.0          Action    89
             Crime     73
8.0          Action    46
             Crime     48
9.0          Action     1
             Crime      3
dtype: int64

In [42]:
g.unstack('genre')

genre        Action  Crime
star_rating
7.0              89     73
8.0              46     48
9.0               1      3

In [46]:
# For a dataframe to exist it must have a Row and Column
# Hack to change a dataframe into a table is to create an index column
# before unstacking
df = g.unstack('genre')
df['extra'] = 1
df = df.set_index('extra', append = True)
df

genre              Action  Crime
star_rating extra
7.0         1          89     73
8.0         1          46     48
9.0         1           1      3

In [48]:
df.unstack('star_rating')

genre       Action         Crime
star_rating    7.0 8.0 9.0   7.0 8.0 9.0
extra
1               89  46   1    73  48   3